<script type='text/javascript' src="assets/andrew/andrew.js"></script>
<div class="andrew-overlay" ng-controller='overlayController' ng-click="hideOverlay()">
	<div class="overlay-back"><img src="img/back.png"/></div>
	<div class="andrew-overlay-scene">
	<div class="andrew-overlay-esc" ng-click="hideOverlay()">X</div>
		<div class="overlay-title">{{doc.title}} </div>
	
		<div class="row full_webpage_loading" style="display:none;">
			<div class="col-lg-12">
				<canvas height="60" width="60" id="full_webpage_loading"></canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				{{doc.content}} 
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    (function($) {
        "use strict";
        var icons = new Skycons({
                "windColor": "LightSteelBlue"
            }),
            list = [
                "wind"
            ],
            i;

        for (i = list.length; i--;) 
            icons.set("full_webpage_loading", "wind");
        icons.play();
    })(jQuery);
 </script>