protected/runtime/*
protected/config/main_onserver.php
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
components/download-temperary-webpage/*
javaApi/*.txt
pythonCgi/*.txt
.DS_Store
