<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="ico/favicon.ico" rel="shortcut icon">
<title>Graph</title>


<script type="text/javascript" src="libs/threejs/three.js"></script>
<script type="text/javascript" src="libs/threejs/TrackballControls.js"></script>
<script type="text/javascript" src="libs/threejs/Tween.js"></script>


<link rel="stylesheet" href="http://cdn.rawgit.com/angular/bower-material/v0.10.0/angular-material.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
<script src="http://cdn.rawgit.com/angular/bower-material/v0.10.0/angular-material.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-sanitize.min.js"></script>
<script type="text/javascript" src="libs/jquery/jquery.js"></script>

<link rel="stylesheet" href="main.css" />
</head>

<body ng-app="dumplingApp" style="overflow-y: hidden;">
<div ng-controller="sphereClickedDropdownMenuCtrl as menu" class="sphere-clicked-dropdown-menu" ng-style="{left:mousePos.x,top:mousePos.y}" ng-show="isOpen">
      <md-fab-speed-dial md-open="isOpen" md-direction="'right'" ng-class="'md-scale'">
        <md-fab-trigger style="opacity: 0;">
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button class="md-raised md-mini">
            open
          </md-button>
          <md-button  class=" md-raised md-mini">
            close
          </md-button>
          <md-button class="md-raised md-mini" ng-click="openAll();">
            open all
          </md-button>
          <md-button class="md-raised md-mini" ng-click="closeAll();">
            close all
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
</div>


<div layout="row" class="header">
     <div class="title">Minerva</div>
</div>
<div ng-controller="dialogCtrl">
 </div>


<div ng-controller="popupWindowController">
</div>

<div ng-controller="graphCtrl" id="graphCtrl">
	<div id="graph" >
	</div>
</div>



<!-- threejs -->


<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="andrew-threejs/Link.js"></script>
<script type="text/javascript" src="andrew-threejs/ObjectContainer.js"></script>
<script type="text/javascript" src="andrew-threejs/Sphere.js"></script>
<script type="text/javascript" src="andrew-threejs/SurroundedSphere.js"></script>
<script type="text/javascript" src="libs/threejs/Projector.js"></script>
<script type="text/javascript" src="MainThreejs.js"></script>
<script type="text/javascript" src="MainAngularjs.js"></script>

<script>


</script>
</body>
</html>
