body{
	overflow:hidden !important;
	overflow-y: hidden !important;
	height:100vh;
	width:100vw;
	z-index:1;
}

.header{
	background-color: rgb(63,81,181);
    padding:10px 20px;
    height:30px;
    width:100vw;
    position: fixed;
}

.header .title{
    color: white;
    font-size:20px;
    font-weight:bold;
}

.sphere-clicked-dropdown-menu{
	position:fixed;
}
.sphere-clicked-dropdown-menu .md-fab-action-item{
	margin-left:30px;
}

.sphere-clicked-dropdown-menu .menu-item, md-fab-speed-dial.md-scale .md-fab-action-item{
	margin:0px;
	padding:1px;
	height:20px;
	min-height:20px;
	font-size: 10px;
	line-height: 10px;
}

.conversation{
	background-color: #EEEEEE;
	right:0px;
	height:100vh;
	width:150px;
	position:fixed;
	z-index: 4;
	padding:5px;
	padding-top:10px;
}

.conversation .talking-girl{
	width:150px;
	height:95px;
	overflow: hidden;
}
.conversation .talking-girl img{
	width:150px;
}

.conversation #conversationPanel{
	margin-top: 15px;
}

.conversation hlt{
	color:red;
	font-weight: bold;
}