<style>
.search-box span{
	float:left;
	padding: 6px;
}
.search-menu{
	padding:5px;
}
.search-found{
	padding:5px;
}
</style>
<script type="text/javascript">
function toNextInput(elmnt,content,event)
{
	console.log();
	if (event.keyCode==8 && content.length==0){
		$(elmnt).prevAll('input').first().focus();
	} else if (content.length==elmnt.maxLength)
	{
		$(elmnt).nextAll('input').first().focus();
	}
}
</script>
<div class="row search-box" ng-controller="searchBoxController" ng-keydown="$event.which === 13 && clickSubmit();">
	<div class="col-sm-8 padding-0">
		 <div  ng-show="$root.queryMode == 'regular';">
			<input type="text" placeholder="Search" ng-model="$root.queryRegular" style="width:95%; float:left;"/>
		 </div>
		 
		 <div  ng-show="$root.queryMode == 'phone';"  id="phoneNumberForm">
		 	<span>Phone Number:</span>
		 	<span>+</span><input type="text" ng-model="$root.queryPhone.country" style="width:8%; float:left;" maxlength="3" onkeyup="toNextInput(this,this.value,event)"/>
			<span>(</span><input type="text" placeholder="Area" ng-model="$root.queryPhone.area" style="width:11%; float:left;" maxlength="3" onkeyup="toNextInput(this,this.value,event)"/><span>)</span>
			<input type="text" placeholder="Prefix" ng-model="$root.queryPhone.prefix" style="width:11%; float:left;" maxlength="3" onkeyup="toNextInput(this,this.value,event)"/>
			<span>-</span><input type="text" placeholder="Line" ng-model="$root.queryPhone.line" style="width:14%; float:left;" />
		 </div>
		 
		  <div  ng-show="$root.queryMode == 'email';"  id="phoneNumberForm">
		 	<span>Email:</span>
		 	<input type="text" ng-model="$root.queryEmail.part1" style="width:20%; float:left;" />
			<span>@</span>
			<input type="text" ng-model="$root.queryEmail.part2" style="width:20%; float:left;"/><span></span>
		 </div>
		 
		  <div  ng-show="$root.queryMode == 'address';"  id="phoneNumberForm">
		 	<span>Street:</span>
		 	<input type="text" ng-model="$root.queryAddress.part1" style="width:20%; float:left;" />
			<span>City:</span>
			<input type="text" ng-model="$root.queryAddress.part2" style="width:8%; float:left;"/>
			<span>State:</span>
			<input type="text" ng-model="$root.queryAddress.part3" style="width:8%; float:left;"/>
			<span>Country:</span> 
			<country-select ng-model="$root.queryAddress.part4"  style="width:8%; float:left; margin-top: 5px;"></country-select>
		 </div>
		 <div  ng-show="$root.queryMode == 'advanced';">
		 	<span>Include:</span>
		 	<input type="text" ng-model="$root.query" style="width:37%; float:left;"/>
			<span>Exclude:</span>
			<input type="text" ng-model="$root.queryAdvanced.exclude" style="width:37%; float:left;" />
		 </div>
		 <div  ng-show="$root.queryMode == 'structural';">
		 	<span>Structural Search:</span>
		  	<input type="text" ng-model="$root.queryStructural" style="width:80%; float:left;"/>
		 </div>
		 
		 <md-fab-speed-dial style="position:absolute;left:95%; width:5%" md-open="searchboxMenu.isOpen" md-direction="{{searchboxMenu.selectedDirection}}"
		                         ng-class="searchboxMenu.selectedMode">
		        <md-fab-trigger>
		          <div class="search-menu">
		            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
		          </div>
		        </md-fab-trigger>
		        <md-fab-actions style="margin-left: -150px;">
		           <md-button class="md-raised md-primary" ng-click="$root.queryMode = 'phone';">
			       Phone Search
			       </md-button>
			        <md-button class="md-raised md-primary" ng-click="$root.queryMode  = 'email';">
			       Email Search
			       </md-button>
			       <md-button class="md-raised md-primary" ng-click="$root.queryMode  = 'address';">
			       Address Search
			       </md-button>
			       <md-button class="md-raised md-primary" ng-click="$root.queryMode  = 'regular';">
			       Regular Search
			       </md-button>
			       <md-button class="md-raised md-primary" ng-click="$root.queryMode  = 'advanced';">
			       Exclude Search
			       </md-button>
			       <md-button class="md-raised md-primary" ng-click="$root.queryMode  = 'structural';">
			       Structural Search
			       </md-button>
		        </md-fab-actions>
		</md-fab-speed-dial>
	</div>
	<div class="col-sm-3">
		<button type="submit" class="btn btn-primary" ng-click="clickSubmit();">Submit</button>
		<button class="btn btn-primary" ng-click="clearHistory();">Clear History</button>
	</div>
	<div class="col-sm-1 search-found" >
		{{$root.numFound.toLocaleString()}} found.
	</div>
	
</div>