<div id="ThreeJS"  class="col-sm-8 user-state-box" ></div>
<script>

// standard global variables
var container, scene, camera, renderer, controls, stats;
var keyboard = new THREEx.KeyboardState();
var clock = new THREE.Clock();
var delta;

var floors = [];

// custom global variables
var movingBall;
var moveBallToDirection=0; // stay, up, down

var words=[], wordSprites=[];
var particleGroup, particleAttributes;

var projector, mouse = { x: 0, y: 0 }, INTERSECTED;
var sprite1;
var canvas1, context1, texture1;

init();
animate();

// FUNCTIONS 		
function init() 
{
	createBackground();	
	
	createBall();

	words=["xxxx","xxxx","xxxx","xxxx","xxxx","xxxx"];

	particleGroup = new THREE.Object3D();
	particleAttributes = { startSize: [], startPosition: [], randomness: [10] };

	
}

function changeWords(){
	moveBallToDirection = (moveBallToDirection+1)%3;
	words = ["aaa","bbb","cccc","dddd","eee","ffff"];

	// Remove the old particle group.
	scene.remove( particleGroup );
	wordSprites=[];

	// Create new word sprites.
	for (var i=0; i<words.length; i++){
		var spritey = makeTextSprite( words[i], 
				{ fontsize: 32, borderColor: {r:255, g:0, b:0, a:1.0}, backgroundColor: {r:255, g:100, b:100, a:0.8} } );
		spritey.position.set(-500,55+i*10,100);
		wordSprites.push(spritey);
	}

	// Add to the new particle group.
	particleGroup = new THREE.Object3D();
	particleAttributes = { startSize: [], startPosition: [], randomness: [] };
	
	var radiusRange = 100;
	for( var i = 0; i < words.length; i++ ) 
	{
		var sprite = wordSprites[i];
		sprite.scale.set( 80, 80, 1.0 ); // imageWidth, imageHeight
		sprite.position.set( Math.random() - 0.5, Math.random() - 0.5, Math.random() - 0.5 );
		sprite.position.setLength( radiusRange * (Math.random() * 0.1 + 0.9) );
		
		particleGroup.add( sprite );
		particleAttributes.startPosition.push( sprite.position.clone() );
		particleAttributes.randomness.push( Math.random() );
	}

	particleGroup.position.y = movingBall.position.y;

	scene.add( particleGroup );
}


</script>

<div  ng-controller="feedbackController">
<div class="col-sm-2">
	<div class="box">
		<!-- /.box-header -->
		<div class="box-body" style="padding: 10px 20px;">
			<div class="news-widget" style="padding: 0px;">
				<h2>
					<span class="bg-blue">Explicit Feedback</span>
				</h2>
				<div class="current-feedback-box">
					<div ng-repeat="item in $root.docs | filter:isRelevant">
						Doc {{item.id}} is relevant.
					</div>
					<div ng-repeat="item in $root.docs | filter:isOffTopic">
						Doc {{item.id}} is off-topic.
					</div>
					<div ng-show="noExplicitFeedback()">
				        N/A
				    </div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</div>
<div class="col-sm-2">
	<div class="box">
		<!-- /.box-header -->
		<div class="box-body" style="padding: 10px 20px;">
			<div class="news-widget" style="padding: 0px;">
				<h2>
					<span class="bg-blue">Implicit Feedback</span>
				</h2>
				<div class="current-feedback-box">
					<div ng-repeat="item in $root.readDocEvents">
						Doc {{item.id}} is read for {{item.duration}} seconds.
					</div>
					<div ng-show="noImplicitFeedback()">
				        N/A
				    </div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</div>
</div>

