<div ng-controller="sphereClickedDropdownMenuCtrl as menu" class="sphere-clicked-dropdown-menu" ng-style="{left:mousePos.x,top:mousePos.y}" ng-show="isOpen">
      <md-fab-speed-dial md-open="isOpen" md-direction="down" ng-class="'md-scale'">
        <md-fab-trigger style="display:none;">
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button class="md-raised md-mini menu-item" ng-click="open();">
            show
          </md-button>
          <md-button  class="md-raised md-mini menu-item" ng-click="close();">
            hide
          </md-button>
          <md-button class="md-raised md-mini menu-item" ng-click="openAll();">
            show all
          </md-button>
          <md-button class="md-raised md-mini menu-item" ng-click="closeAll();">
            hide all
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
</div>


<div class="header">
     <div class="title">Minerva</div>
</div>

<div ng-controller="dialogCtrl">
 </div>


<div ng-controller="popupWindowController">
</div>

<div class="conversation" ng-include="'app/view/conversation.html'"></div>

<!--
<div ng-controller="graphCtrl" id="graphCtrl" ng-hide="true">
	<div id="graph" >
	</div>
</div>
-->

<div class="search-result" ng-include="'app/view/spheres/searchResult.html'">
  
</div>

<div class="toolbox" ng-include="'app/view/spheres/toolbox.html'">
  
</div>
