<div ng-controller="SearchResultDocListCtrl" class="doc-list">
  <md-content>
    <md-list-item class="md-3-line" ng-repeat="person in people"  ng-click="goToPerson(person.name, $event)">
      <div class="md-list-item-text">
        <h3>{{item.what}}asdfasdf</h3>
        <h4>{{item.who}}</h4>
        <p>{{item.notes}}</p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-content>
</div>

<div class="doc-detail" ng-controller="SearchResultDocDetailCtrl">
  <md-content class="md-padding">
    <md-card>
      <md-card-content>
        <div class="parent">
          <div class="child">
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        </div>
      </div>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
  </md-content>
</div>